<div class="page-header">
  <h1 align="center">About Me</h1>
</div>

<div class="col-md-12">
   <div class="pull-left">
     <p>
        I started my career in 2003, when I started a job as a Technical Support/Account Service Manager. 
        I basically had a handful of clients I was responsible for and their main point of contact for technical issues with their sites. I was always good with computers, 
        but never really wanted to work on them for a career. While working that role, my opinion changed. I was exposed to the development staff there and saw the cool things being done, 
        and decided to go to school to learn to be a programmer. While working full time, I attended school full time to get a bachelor degree in Software Engineering.
     </p>
     <p>
        Fast forward to graduation time, I had been promoted from Tech Support to QA, and was being groomed for a development position when I graduated. After graduating, 
        I became a developer and started fine tuning my skills in .NET development. I loved development, but still didn’t feel fulfilled.
     </p>
     <p>
       After working various .NET development jobs, I found my self starting to be more interested the database side of software development, and did what I have termed as a “Career Reboot”. 
       I took a position in Production Support, to allow me to work more with databases and began working with a brilliant SQL DBA who started teaching me more about database administration while also exposing me to a new emerging technology called 
       Infrastructure As Code using PowerShell and Chef in Amazon Web Services. He called it DevOps and started trying to foster DevOps practices at our company and on our team. 
       On that team I discovered that I loved DevOps. Since then I have been working to solidify my knowledge and career in the DevOps, Site Reliability, and Platform Performance spaces.
     </p>
     <p>
       These days, I continue to try and better myself using different tools and trying to learn new technologies. This site and some of the examples linked here my endeavors to expand my knowledge. 
       Here I plan to try and become a better Ruby on Rails developer, get more experience with GoLang and practice Python applications.
     </p>
     <p>
       Thanks for visiting and feel free to follow this site through my journey.
     </p>
   </div>
</div>