<!doctype html>
<html>
   <head>
      <title>Alpha-Blog</title>
      <meta name="description" content="Alpha-Blog About">
   </head>
   <body>
      <table align="center">
         <thead>
            <tr>
               <td width="100%">
                  <%= image_tag 'Birmingham_header_11_4_16.JPG' %>
               </td>
            </tr>
            <tr>
               <td width="100%"><%= link_to 'Home', root_path %></td>
            </tr>
            <tr>
               <th>
                  <h1>About Alpha-Blog</h1>
               </th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td>
                  <table>
                     <tr>
                        <td align="left" width="50%" colspan="1">
                           <div class="col-md-3">
                              <h2>For right now, this will just be some random text.</h2>
                              <p>More text to just flesh the table out some.</p>
                           </div>
                        </td>
                        <td align="right" width="50%" colspan="1">
                           <div class="col-md-3">
                              <h2>Another column of text.</h2>
                              <p>I'll add some more text later.</p>
                           </div>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>