<div class="page-header">
  <h1 align="center">Welcome</h1>
</div>

<div class="col-md-12">
   <div class="pull-left"><img src="<%= asset_url("JcChampion_Small.gif") %>" class="pull-left"/>
     <p>
        My name is Justin Collins and welcome to my site. I built this site to help continue to improve my rusty OOP and Ruby on Rails
         development skills. I started my career with .NET development over a decade ago and after many different forays into
          various technical environments, I have set my sights on DevOps and being the best DevOps engineer I can be.
     </p>
     <p>
        My plan is to continue to improve this site, as well as creating other applications to showcase other skills I learn.
         This site and the others linked to from here, will always be works in progress. Feel free to click around and take a look.
          If you want to drop a line or share any thoughts, you can use the <%= link_to "contact me", contact_path %> page, or the link to my email in the footer.
     </p>
     <p><strong>Thanks again!</strong></p>
     <p><strong>-JC</strong></p>
   </div>
</div>